<script lang="ts">
	import TaskList from '$lib/components/tasks/TaskList.svelte';
	import type { Course } from '$lib/utils/types/course';
	import type { Progress } from '$lib/utils/types/progress';
	import type { CourseTask } from '$lib/utils/types/task';
	import type { PageData } from './$types';

	export let data: PageData;
	let tasks: CourseTask[] = data.tasks;
	let progress: Progress = data.progress;
	let course: Course = data.course;
	let tags: string[] = data.tags;

	let filteredTags: string[] = [];

	$: if (tags.length === 0) {
		filteredTags = course.config.tasks.standardView.categorizeByTags;
	} else {
		filteredTags = tags;
	}
</script>

<section class="grid grid-flow-row gap-4">
	{#each filteredTags as tag}
		<TaskList {course} {tasks} {tag} {progress} />
	{/each}
</section>
