<script lang="ts">
	import NavBar from '$lib/components/navigation/NavBar.svelte';
	import Drawer from '$lib/components/navigation/Drawer.svelte';
	import Avatar from '$lib/components/gamification/avatar/Avatar.svelte';
	import Card from '$lib/components/utils/Card.svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import { page } from '$app/stores';
	import _ from 'lodash';
	import UnlockableAssetsShowcase from '$lib/components/gamification/avatar/UnlockableAssetsShowcase.svelte';
	import { writable, type Writable } from 'svelte/store';
	import ChatWindow from '$lib/components/chat/ChatWindow.svelte';
	import type { PageData } from './$types';
	import { browser } from '$app/environment';

	export let data: PageData;

	const { user, course } = data;

	let drawer: Writable<boolean>;
	if (browser) {
		drawer = writable<boolean>(localStorage.getItem('drawer-open') === 'true' || false);
		drawer.subscribe((value) => localStorage.setItem('drawer-open', JSON.stringify(value)));
	}
</script>

<svelte:head>
	<title>SmartBeans</title>
</svelte:head>

{#if course && user}
	<Drawer bind:open={$drawer} {course}>
		<NavBar {course} {user} bind:burger={$drawer} />
		<div class="grid grid-cols-6 m-4 gap-4">
			<main
				class="col-span-6 {course.config.gamification.avatar.active
					? 'xl:col-span-5'
					: ''} viewport-height"
			>
				<slot test="" />
			</main>
			{#if course.config.gamification.avatar.active}
				<div class="flex flex-col visible-avatar xl:visible xl:col-span-1 gap-4">
					<Card title={user.displayName} centered={true}>
						<Avatar avatar={user.avatar} />
					</Card>

					{#if $page.url.pathname.startsWith('/tasks/')}
						<UnlockableAssetsShowcase course={course.name} taskid={$page.params.taskid} />
					{/if}
				</div>
			{/if}
		</div>
	</Drawer>

	<div class="toast-position">
		<SvelteToast options={{ duration: 2000 }} />
	</div>

	{#if course.config.chatbot && $page.url.pathname.startsWith('/tasks/')}
		<div class="fixed right-4 bottom-0 m-4">
			<ChatWindow title={course.config.chatbot.title} />
		</div>
	{/if}
{/if}

<style>
	.toast-position {
		--toastContainerTop: auto;
		--toastContainerRight: 2rem;
		--toastContainerBottom: 1rem;
		--toastContainerLeft: auto;
	}

	.viewport-height {
		height: calc(calc(100vh - 64px) - 2rem);
	}
	@media only screen and (max-width: 1280px) {
		.visible-avatar {
			display: none;
		}
	}
</style>
