<script lang="ts">
	import Achievements from '$lib/components/gamification/achievements/Achievements.svelte';
	import Level from '$lib/components/gamification/level/Level.svelte';
	import Leaderboard from '$lib/components/gamification/leaderboard/Leaderboard.svelte';
	import type { Leader } from '$lib/utils/types/leader';
	import Card from '$lib/components/utils/Card.svelte';
	import SkillGraph from '$lib/components/gamification/skillgraph/SkillGraph.svelte';
	import type { CourseTask } from '$lib/utils/types/task';
	import type { Progress } from '$lib/utils/types/progress';
	import { getNextTask } from '$lib/utils/nextTask';
	import NextTask from '$lib/components/tasks/NextTask.svelte';
	import type { PageData } from './$types';
	import type { Course } from '$lib/utils/types/course';

	export let data: PageData;

	const leaders: Leader[] = data.leaders;
	const tasks: CourseTask[] = data.tasks;
	const progress: Progress = data.progress;
	const course: Course = data.course;

	const gConfig = course.config.gamification;

	let nextTask = getNextTask(tasks, progress);
</script>

<div class="flex gap-4 flex-wrap w-full">
	{#if gConfig.level.points.active || gConfig.level.tasks.active || course.config.tasks.nextExercise.dashboard.active}
		{#if gConfig.level.points.active || gConfig.level.tasks.active}
			<Card
				class={course.config.tasks.nextExercise.dashboard.active
					? 'lg:w-1/2-gap-4 w-full'
					: 'w-full'}
				title="Fortschritt"
			>
				{#if gConfig.level.points.active}
					<Level
						{progress}
						{tasks}
						unitType="points"
						unitName={gConfig.level.points.unitName}
						levels={gConfig.level.points.levels}
					/>
				{/if}
				{#if gConfig.level.tasks.active}
					<Level {progress} {tasks} unitType="tasks" unitName={gConfig.level.tasks.unitName} />
				{/if}
			</Card>
		{/if}

		{#if course.config.tasks.nextExercise.dashboard.active}
			{#if nextTask}
				<a
					class={gConfig.level.points.active || gConfig.level.tasks.active
						? 'lg:w-1/2-gap-4 w-full'
						: 'w-full'}
					href="/tasks/{nextTask.taskid}"
				>
					<Card class="h-full" title="Nächste Aufgabe: {nextTask.taskDescription.shortname}">
						<NextTask task={nextTask} />
					</Card>
				</a>
			{:else}
				<Card
					class={gConfig.level.points.active || gConfig.level.tasks.active
						? 'lg:w-1/2-gap-4 w-full'
						: 'w-full'}
					title="Kein Aufgabenvorschlag vorhanden"
				/>
			{/if}
		{/if}
	{/if}
	{#if gConfig.skillgraph.active}
		<Card class="lg:w-1/2-gap-4">
			<SkillGraph {progress} {tasks} />
		</Card>
	{/if}
	{#if gConfig.achievements.active || gConfig.leaderboard.active}
		<div class="flex flex-wrap lg:w-1/2-gap-4 gap-4">
			{#if gConfig.achievements.active}
				<Card class="w-full" title="Errungenschaften">
					<Achievements achievements={null} />
				</Card>
			{/if}
			{#if gConfig.leaderboard.active}
				<a class="w-full" href="/leaderboard">
					<Card class="w-full" title="Leaderboard">
						<Leaderboard {course} {leaders} max={5} />
					</Card>
				</a>
			{/if}
		</div>
	{/if}
</div>
