<script lang="ts">
	import Card from '$lib/components/utils/Card.svelte';
	import { page } from '$app/stores';

	let message: string;
</script>

<Card class="max-w-md" title={`${$page.status}`}>
	{$page.error?.message}
</Card>
