<script lang="ts">
	import 'iconify-icon';
	import type { CourseTask } from '$lib/utils/types/task';
	import { marked } from 'marked';
	// @ts-ignore: marked types are incomplete
	import { cleanUrl } from '../../../../../node_modules/marked/src/helpers';
	import hljs from 'highlight.js';
	import type { Submission } from '$lib/utils/types/submission';
	import Tag from '$lib/components/utils/Tag.svelte';

	export let task: CourseTask;
	export let done: boolean;

	marked.setOptions({
		langPrefix: 'hljs language-',
		highlight: (code: string) => {
			return hljs.highlightAuto(code).value;
		}
	});
	// We need to add a class to the links to style them
	marked.use({
		renderer: {
			link(href, title, text) {
				// @ts-ignore: marked types are incomplete
				href = cleanUrl(this.options.sanitize, this.options.baseUrl, href);
				if (href === null) {
					return text;
				}
				let out = '<a class="markdownlink" target="_blank" href="' + href + '"';
				if (title) {
					out += ' title="' + title + '"';
				}
				out += '>' + text + '</a>';
				return out;
			}
		}
	});
</script>

<section class="grid grid-cols-6">
	<div class="col-span-5">
		<h1 class="font-semibold text-2xl">{task.taskDescription.title}</h1>
		<h2 class="text-lg">{task.taskDescription.shortname}</h2>
	</div>
	<div class="flex justify-end col-span-1">
		{#if done}
			<iconify-icon class="text-success" icon="mdi:check-thick" width={48} height={48} />
		{/if}
	</div>
</section>
<div class="flex gap-2 mb-2">
	{#each task.tags as tag}
		<Tag {tag} showPoints={true} />
	{/each}
</div>

{@html marked.parse(task.taskDescription.task)}
