<script lang="ts">
  import type { Tag } from '$lib/utils/types/tag';

  export let tag: Tag;
  export let showPoints: boolean = false;
</script>

<span class="tooltip-info" class:tooltip={tag.points !== undefined} data-tip="{tag.points} Punkte">
  <div class="badge badge-info badge-sm" on:click>
    {tag.name}{#if showPoints}{tag.points ? `: ${tag.points}` : ''}{/if}
  </div>
</span>
