<script lang="ts">
	import Leaderboard from '$lib/components/gamification/leaderboard/Leaderboard.svelte';

	import Card from '$lib/components/utils/Card.svelte';
	import type { Leader } from '$lib/utils/types/leader';
	import type { PageData } from './$types';

	export let data: PageData;
	let leaders: Leader[] = data.leaders;
	let title: string = 'Hall of Fame';
</script>

<Card {title} centered={true}>
	<div class="grid grid-cols-1 place-items-center gap-4 w-full">
		<img src="/images/leaderboard_badge.png" width="200" height="200" alt="" />
		<div class="w-full max-w-2xl">
			<Leaderboard course={data.course} {leaders} max={leaders.length} />
		</div>
	</div>
</Card>
