<script lang="ts">
	import MessageView from './Message.svelte';
	import { tick, onMount } from 'svelte';
	import type { Message } from '../../utils/types/message';
	import 'iconify-icon';

	export let title: string;

	let message: string;
	let messages: Message[] = [];
	let messageContainerRef: HTMLElement;
	let inputRef: HTMLElement;
	let isVisible = false;

	const handleKeydown = (event: KeyboardEvent) => {
		if (event.key === 'Enter') {
			handleSend();
		}
	};

	const startChatbot = async () => {
		const res = await fetch('/api/chatbot/headings', {
			method: 'GET'
		});
		if (res.ok) {
			const resp = await res.json();
			const response: Message = { ...resp, sender: 'SmartBot' };
			messages = [...messages, response];
			scrollToEnd();
		}
	};

	const pushMessage = async (str: string) => {
		const message: Message = { text: str, sender: 'user' };
		messages = [...messages, message];
		const res = await fetch('/api/chatbot/message', {
			method: 'POST',
			body: JSON.stringify(message),
			headers: {
				'Content-Type': 'application/json'
			}
		});
		if (res.ok) {
			const resp = await res.json();
			const response: Message = { ...resp, sender: 'SmartBot' };
			messages = [...messages, response];
		}
	};

	const scrollToEnd = () => {
		if (messageContainerRef) {
			messageContainerRef.scrollTop = messageContainerRef.scrollHeight;
		}
	};

	const handleSend = async () => {
		if (message.trimStart()) {
			await pushMessage(message.trimStart());
			message = '';
			await tick();
			scrollToEnd();
		}
	};

	const headingClickCb = (e: MouseEvent) => {
		if (
			e.target &&
			(e.target as HTMLElement).innerText === messages.at(0).headings.at(-1) &&
			inputRef
		) {
			inputRef.focus();
		}
	};

	onMount(startChatbot);
</script>

{#if isVisible}
	<div class="card card-bordered bg-base-100 card-compact w-96 h-96 shadow-2xl">
		<div class="card-body w-full h-full">
			<div class="card-title">
				<h2>{title}</h2>
				<div class="card-actions flex-grow justify-end">
					<button on:click={() => (isVisible = false)} class="btn btn-square btn-ghost btn-sm">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M6 18L18 6M6 6l12 12"
							/>
						</svg>
					</button>
				</div>
			</div>
			<div bind:this={messageContainerRef} class="flex-grow overflow-y-auto w-full h-full">
				{#each messages as message}
					<MessageView {message} {headingClickCb} />
				{/each}
			</div>
			<div class="flex">
				<span class="flex-grow mr-2">
					<input
						placeholder="Unterhalte dich mit SmartBot"
						bind:this={inputRef}
						on:keydown={handleKeydown}
						bind:value={message}
						class="input input-sm input-bordered w-full"
					/>
				</span>
				<button on:click={handleSend} class="btn btn-sm btn-outline btn-primary">
					Senden
					<button /></button
				>
			</div>
		</div>
	</div>
{:else}
	<button on:click={() => (isVisible = true)} class="btn btn-primary gap-2">
		<iconify-icon icon="mdi:chat-question" width={24} height={24} />
		Hilfe
	</button>
{/if}
