<script lang="ts">
  import StarRating from "../star_rating/StarRating.svelte";
  import type { Message } from "../../utils/types/message";

  export let message: Message;
  export let showRating = true;
  export let headingClickCb: (e: MouseEvent)=> void = undefined;

  let justify = message.sender === "user" ? "justify-end" : "justify-start";
  let background = message.sender === "user" ? "bg-neutral" : "bg-info"
  let text = message.sender === "user" ? "text-neutral-content" : "text-info-content"
</script>

<div class="relative flex pb-1 px-1 {justify}">
  <div class="relative w-5/6 px-2 break-words rounded text-sm  py-1 {background} {text}">
    {#if message.sender === "SmartBot"}
      <div class="font-bold">
        {message.sender}
      </div>
    {/if}
    <span>{message.text}<span>
    {#if message.headings?.length ?? false}
      {#each message.headings as heading, i}
        <details>
          <summary on:click={headingClickCb} class="bg-inherit px-5 py-3 text-lg cursor-pointer">{heading}</summary>
          {#if message.contents.length > i}
            <div class="px-5 py-3 border border-info-content text-sm">{@html message.contents[i]}</div>
            {#if showRating}
              <div class="pt-2">
                <p class="flex justify-center">Did this information help you?</p>
                <StarRating />
              </div>
            {/if}
          {/if}
        </details>
      {/each}
    {/if}
    {#if message.closing?.length ?? false}
      <span>{message.closing}</span>
    {/if}
  </div>
</div>