<script lang="ts">
	import 'iconify-icon';

	export let name: string;
	export let done: boolean;
	export let unlocked: boolean;
	export let completed: number;
	export let total: number;

	let blocked = !done && !unlocked;

	let grayScaled = blocked;
</script>

<a href={!blocked ? `/topics/${name}` : ''}>
	<section
		class:cursor-not-allowed={blocked}
		class:bg-base-300={grayScaled}
		class:border-base-300={grayScaled}
		class:hover:bg-base-300={grayScaled}
		class="card btn-outline hover:bg-base-200 bg-base-100 hover:border-base-300 hover:text-current border-base-200 border-2 cursor-pointer task-card w-full shadow-lg"
	>
		<div class="card-body p-3">
			<div class="grid grid-cols-6 place-content-end">
				<h2 class="col-span-5 card-title text-lg capitalize">{name}</h2>
				<div class="col-span-1 flex justify-end gap-1">
					<iconify-icon
						class={done ? 'text-primary' : 'text-gray-300'}
						icon="mdi:star-circle"
						width={24}
						height={24}
					/>
				</div>
			</div>
			<progress
				class="progress progress-success w-full bg-base-300"
				value={completed}
				max={total}
			/>
		</div>
	</section>
</a>
