<script lang="ts">
	import type { Progress } from '$lib/utils/types/progress';
	import type { CourseTask } from '$lib/utils/types/task';
	import type { Topic } from '$lib/utils/types/topic';
	import 'iconify-icon';
	import TopicItem from './TopicItem.svelte';

	export let topics: Topic[];
	export let progress: Progress;
	export let level: Number;
	export let unlocked: boolean = true;
	export let tasks: CourseTask[];

	let stars = topics.filter((topic) => progress.includes(topic.lastTaskId)).length;
</script>

<section class="card card-body shadow-xl">
	<div class="flex justify-between align-baseline">
		<h1 class="card-title text-2xl capitalize">Level {level}</h1>
		{#if unlocked}
			<span class="text-primary">
				{stars}/{topics.length}
				<iconify-icon class="inline-block" icon="mdi:star-circle" width="24" height="24" />
			</span>
		{:else}
			<div
				class="tooltip tooltip-left"
				data-tip="Gather all stars in the previous level to continue"
			>
				<iconify-icon icon="mdi:lock" width="24" height="24" />
			</div>
		{/if}
	</div>

	<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-4">
		{#each topics as topic}
			<TopicItem
				name={topic.name}
				done={progress.includes(topic.lastTaskId)}
				{unlocked}
				completed={tasks
					.filter((task) => task.tags.map((tag) => tag.name).includes(topic.name))
					.filter((task) => progress.includes(task.taskid)).length}
				total={tasks.filter((task) => task.tags.map((tag) => tag.name).includes(topic.name)).length}
			/>
		{/each}
	</div>
</section>
