<script lang="ts">
	import TasksGraph from '$lib/components/tasksgraph/TasksGraph.svelte';
	import Card from '$lib/components/utils/Card.svelte';
	import type { Course } from '$lib/utils/types/course';
	import type { Progress } from '$lib/utils/types/progress';
	import type { CourseTask } from '$lib/utils/types/task';
	import type { Topic } from '$lib/utils/types/topic';
	import type { PageData } from './$types';

	export let data: PageData;

	const progress: Progress = data.progress;
	const tasks: CourseTask[] = data.tasks;
	const course: Course = data.course;
	const filterTopic: Topic = data.filterTopic;
</script>

<Card title={filterTopic.name} class="h-full bg-base-100 p-4 capitalize" classCardBody="p-0">
	<TasksGraph {progress} {tasks} {course} special={filterTopic.lastTaskId} />
</Card>
