<script lang="ts">
	import type { CourseTask } from '$lib/utils/types/task';

	import 'iconify-icon';
	import { toast } from '@zerodevx/svelte-toast';

	export let task: CourseTask;

	function handleClick() {
		toast.pop();
		history.back();
	}
</script>


<div class="flex" on:click={handleClick}>
	<span class="flex items-center"
		><iconify-icon icon="mdi:chevron-right" width={36} height={36} /></span
	>
	<article>
		<h3>Zur nächsten Aufgabe!</h3>
	</article>
</div>


<!-- <a href="/tasks/{task.taskid}" on:click={handleClick}>
	<div class="flex">
		<span class="flex items-center"
			><iconify-icon icon="mdi:chevron-right" width={36} height={36} /></span
		>
		<article>
			<h3>Nächste Aufgabe:</h3>
			{task.taskDescription.shortname}
		</article>
	</div>
</a> -->
