<script lang="ts">
	import Wardrobe from '$lib/components/gamification/wardrobe/Wardrobe.svelte';
	import Card from '$lib/components/utils/Card.svelte';
	import type { Asset } from '$lib/utils/types/assets';
	import type { PageData } from './$types';

	export let data: PageData;
	let assets: Asset[] = data.assets;
</script>

<Card class="h-full" classCardBody="overflow-y-auto" title="Kleiderschrank">
	<Wardrobe {assets} avatar={data.user.avatar} />
</Card>
