<script lang="ts">
	import Login from '$lib/components/authentication/Login.svelte';
	import type { PageData } from './$types';

	export let data: PageData;
	let courses: string[] = data.courses ?? [];
</script>

<Login {courses} />
