<script lang="ts">
	import Card from '$lib/components/utils/Card.svelte';
	import TasksGraph from '$lib/components/tasksgraph/TasksGraph.svelte';

	import type { Course } from '$lib/utils/types/course';
	import type { Progress } from '$lib/utils/types/progress';
	import type { CourseTask } from '$lib/utils/types/task';

	import type { PageData } from './$types';

	export let data: PageData;
	let progress: Progress = data.progress;
	let tasks: CourseTask[] = data.tasks;
	let course: Course = data.course;
</script>

<Card title="Aufgabengraph" class="h-full bg-base-100 p-4" classCardBody="p-0">
	<TasksGraph {progress} {tasks} {course} />
</Card>
