<script lang="ts">
	import TopicList from '$lib/components/topics/TopicList.svelte';
	import type { Progress } from '$lib/utils/types/progress';
	import type { CourseTask } from '$lib/utils/types/task';
	import type { Topic } from '$lib/utils/types/topic';
	import type { PageData } from './$types';

	export let data: PageData;

	let levels: Topic[][] = data.levels;
	let progress: Progress = data.progress;
	let tasks: CourseTask[] = data.tasks;
</script>

<section class="grid grid-flow-row gap-4">
	{#each levels as topics, level}
		{@const unlocked =
			level === 0
				? true
				: levels[level - 1].every(function (t) {
						return t.lastTaskId ? progress.includes(t.lastTaskId) : false;
				  })}
		<TopicList {topics} {progress} {level} {unlocked} {tasks} />
	{/each}
</section>
